XHS_COOKIE=
FASTER_WHISPER_MODEL=base
FASTER_WHISPER_PYTHON=/Users/你的用户名/path/to/链接转文字/.venv/bin/python
FASTER_WHISPER_DEVICE=cpu
FASTER_WHISPER_COMPUTE_TYPE=int8
CHROME_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
TESSERACT_BIN=tesseract
TESSERACT_LANG=chi_sim+eng
OUTPUT_DIR=outputs
