XHS_COOKIE=
X_COOKIE=
X_COOKIE_FILE=
YT_DLP_BIN=yt-dlp
FASTER_WHISPER_MODEL=base
FASTER_WHISPER_PYTHON=/Users/design/Desktop/链接转文字/.venv/bin/python
FASTER_WHISPER_DEVICE=cpu
FASTER_WHISPER_COMPUTE_TYPE=int8
CHROME_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
PORT=3000
